<div class="grid justify-items-start grid-cols-2 gap-4">
  <.big_button link={~p"/todo"}>
    todo list
  </.big_button>
  <.big_button link={~p"/pie"}>
    pie chart
  </.big_button>
  <.big_button link={~p"/short"}>
    url shortener
  </.big_button>
  <.big_button link={~p"/bin"}>
    code bin
  </.big_button>
</div>
